*.o
*.a
*.dSYM
*.bak

coverage.info
coverage/*
*.gcda
*.gcno

docs/html
docs/doxygen.log
docs/examples.txt
docs/tags.xml

examples/LinuxPacketPrinter/LinuxPacketPrinter

tests/*_check_*.cpp
tests/*_check_*.cmd
tests/ipv6checksum
